.sproject-container {
  margin-top: 40px;
}
.project-container > h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
}
.project-container > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}
.card-img {
  width: 100%;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-img > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-text {
  padding-inline: 2%;
  padding-bottom: 3%;
}
.card-tech {
  display: flex;
  margin-bottom: 20px;
}
.card-tech > div {
  margin-right: 10px;
}
.card-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.card-footer {
  margin-top: 20px;
  display: flex;
}
.card-footer>a{
    margin-right: 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    padding-block: 1%;
    padding-inline: 1.5%;
    border-radius: 7px;
    box-shadow: rgba(35, 148, 193, 0.747) 0px 3px 5px;
}
